---
layout: default
---
<div>Hello, my name is DJ and this is my website. I'm a member of the Developer Relations team at <a href="https://www.sap.com">SAP</a>. Read more about me <a href="/about">here</a>, and also find me on <a href="https://github.com/qmacro">GitHub</a>, <a href="https://twitter.com/qmacro">Twitter</a>, <a href="https://twitch.tv/qmacro99">Twitch</a>, <a href="https://www.linkedin.com/in/djadams">LinkedIn</a>, <a href="https://www.youtube.com/user/qmacro99/videos">YouTube</a>, and also on the <a href="https://people.sap.com/dj.adams.sap">SAP Community</a> where I have plenty of SAP related <a href="https://people.sap.com/dj.adams.sap#content">content</a>.

<div class="latest">
<h1>Latest Post</h1>

<!-- Show excerpt from latest post -->

{% for post in site.posts limit:1 %}
	<div class="title"><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%-d %b" }})</div>
		<div class="excerpt">
			{{ post.excerpt }} <a href="{{ post.url }}">[Read more]</a>
		</div>
	{% endfor %}
</div>


<!-- List the rest of the posts by year -->

<h1>Archive</h1>

{% for post in site.posts %}
	{% if forloop.index0 == 0 %}
		{% continue %}
	{% endif %}
	{% assign currentdate = post.date | date: "%Y" %}
	{% if currentdate != date %}
	<h2 class="archiveyear">{{ currentdate }}</h2>
		{% assign date = currentdate %}
	{% endif %}
	<div class="title"><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%-d %b" }})</div>
{% endfor %}

