---
layout: false
permalink: /blogdata.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<blog>
{%- for post in collections.posts %}
	{%- if post.data.sitemapIgnore !== true and not post.data.draft %}
	<post>
		<url>{{ post.url | url }}</url>
		<title>{{ post.data.title }}</title>
		<tags>{{ post.data.tags }}</tags>
		<date>{{ (post.data.dateUpdated or post.date).toISOString().split('T')[0] }}</date>
	</post>
	{%- endif %}
{%- endfor %}
</blog>
