---
layout: layouts/base
eleventyNavigation:
  key: Tags
  order: 4
---
<h1>Tags</h1>

<ul class="post-metadata">
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}">{{ tag }} <span class="tag-count">{{ collections[tag].length }}</span></a></li>
{% endfor %}
</ul>
