---
title: Oops! Not Found
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>
    Oops. Page not Found. This is possibly because of a recent URL restructuring, I did. 
    Sorry about that - it's my fault. You can find all my blog posts over in the new
    location <a href="{{ '/blog/' | url }}">BLOG</a> (link also at the top of this page).
    Or you can go to the <a href="{{ '/' | url }}">home page</a>. Thanks.
  </p>
</div>
