---
layout: layouts/base.njk
---
{{ content | safe }}

{% set recentPosts = collections.posts | head(-10) %}
{% set recentTags = [] %}
{% for post in recentPosts %}
  {% for tag in post.data.tags | filterTagList %}
    {% if tag not in recentTags %}
      {% set recentTags = recentTags.concat([tag]) %}
    {% endif %}
  {% endfor %}
{% endfor %}

<section class="post-list__wrapper">
  <h2 class="post-list__heading">Recent posts</h2>

  {% set postslist = collections.posts | head(-3) %}
  {% include "postslist.njk" %}

</section>

{% if recentTags.length %}
<section class="recent-topics">
  <h2>Recent tags</h2>
  <ul class="post-metadata">
    {% for tag in recentTags %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<a class="all-posts-link" href="{{ 'blog/' | url }}">View all posts on the blog</a>
